*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s;
}

.container{
  width: 85%;
  margin: auto;
}

a{
  text-decoration: none;
  color: black;
}

.App{
  background-color: #F6FBF4;

}

.sectionHeading{
  text-align: center;
  padding: 30px 0px;
}