.PaymentBox{
    background-color: white;
    padding: 20px;
    text-align: center;

    /* height: 100px; */
}

.paymetSectioWrapper{
    display: flex;
    justify-content: space-between;
}

.paymetSectioWrapper p{
    margin: 10px 0px;
}

.placeOrderBtn{
    border: none;
    background-color: #5FD068;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dim{
    color: gray;
}