.product {
    width: 240px;
    /* height: 400px; */
    background-color: white;
    /* border: 1px solid black; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.product:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.555);
}

.productDetailsArea {
    position: relative;
    min-width: 100px;
    height: 160px;
    width: 200px;
}

.productMRP {
    margin: 5px 0px;
    font-size: 14px;
    
}

.productMRP-striked {
    text-decoration: line-through;
}

.save {
    color: #5FD068;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 5px;
}

.addToCartBtn {
    position: absolute;
    bottom: 0;
    border: none;
    background-color: #5FD068;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.addToCartBtn:hover {
    background-color: #4B8673;
}

.productImageArea {
    height: 200px;
    width: 200px;
    position: relative;
    cursor: pointer;
    /* border: 1px solid red; */
}

.offerBadge {
    z-index: 2;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    border: 2px dotted yellow;
    /* padding: 5px; */
}

.offerBadge:hover {
    animation: rotate 0.4s ease-in-out;
    transform: scale(1.05);
}

.dotOuter{
    position: absolute;
    right: 0;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.dotInner{
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.vegOuter{
    border: 2px solid #009a30;
    /* border: 2px solid #f60000; */
}

.vegInner{
    background-color: #009a30;
    /* background-color: #f60000; */
}

.nonVegOuter{
    border: 2px solid #f60000;
}

.nonVegInner{
    background-color: #f60000;
}


.productImageArea img {
    width: 100%;
    height: 100%;
}

.productImageArea img:hover {
    transform: scale(1.1);
}

.productName{
    font-size: 18px;
}

.productPrice{
    font-size: 18px;
    color: #4B8673;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media screen and (max-width:768px) {
    .product {
        /* height: 200px; */
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        margin: 10px 0px;
        padding: 10px 10px;
    }

    .productImageArea {
        margin-right: 10px;
        height: 180px;
        width: 180px;
    }
}