.Login {
    background-color: #F6FBF4;
}

.LoginWrapper {
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginBox {
    height: 400px;
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px #5FD068;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoutBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoginForm {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.LoginForm form input {
    font-size: 18px;
    width: 220px;
    height: 40px;
    /* border-radius: 10px; */
    padding: 5px;
    border: none;
    border-bottom: 2px solid #5FD068;
    display: block;
    margin: 20px;
}

.LoginForm form input:focus {
    border-radius: 10px;
    outline: none;
    border: 2px solid #5FD068;
}

.LoginBtn {
    background-color: #5FD068;
    border-radius: 20px;
    border: none;
    color: white;
}

.LogoutBtn {
    font-size: 18px;
    width: 220px;
    height: 40px;
    padding: 5px;
    border: none;
    display: block;
    margin: 20px;

    background-color: #5FD068;
    border-radius: 20px;
    border: none;
    color: white;
}

.error {
    color: red;
}